.detailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: rgb(51, 99, 175);
  background-image: url('../../../public/assets/c.jpg');
  background-size: cover;
  background-position: center;
}

.cardContainer {
  max-width: 250px;
  margin: 20px auto;
  padding: 15px;
  border: 1px solid #0b064d17;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(rgb(51, 99, 175), rgb(0, 0, 0));
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff; 
  font-family: Arial, sans-serif; 
}

.image {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
}

.name {
  font-size: 28px;
  font-weight: bold;
  margin: 8px 0;
  color:#FFCB05 ;
}

.id {
  font-size: 14px;
  margin-bottom: 8px;
}

.typesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  margin-top: 8px;
}

.type {
  padding: 3px 8px;
  background-color: #3363AF;
  border-radius: 4px;
}

.statsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}

.stat {
  font-size: 14px;
  margin-bottom: 4px;
}

.button {
  margin-top: 20px;
  padding: 8px 15px;
  background-color: #3363AF;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}
