
.cardContainer {
  width: 180px;
  height: 220px;
  border-radius: 1rem;
  position: relative;
  margin: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.7); 
}
.cardContainer:hover {
  transform: scale(1.05);
}

.img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 1rem;
}

.info_pokemon {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: #000000b4; 
}

.info_pokemon p {
  font-weight: 700;
  margin: 0;
}

.name {
  font-size: 10px;
  margin-top: 5px;
  color: #FFCB05; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-family: 'Press Start 2P', cursive; 
  letter-spacing: 2px; 
  text-transform: uppercase; 
}


.id {
  background-color: #FFCB05;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(0, 0, 0);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 20px; 
  font-weight: bold; 
}

.infoLink {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.637);
  font-family: Arial, Helvetica, sans-serif;
  animation: titilar 1s infinite alternate; 
}

@keyframes titilar {
  100% {
    opacity: 1.9; 
  }
  0% {
    opacity: 0.9;
  }
}
.types_pokemon1 {
  display: flex;
  align-items: center; 
  justify-content: center; 
  color: white; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;

}

.button_search{
  background-color: #ffc824;
  color: #000000;
  border: none;
  width: 100px;
  font-weight: bold;
}
