/* searchBar.module.css */

.input_search {
  /* Add or update styles to match the navigation bar */
  background-color: #ecf4ff;
  color: rgb(46, 33, 151);
  width: 170px;
  height: 37px;
  font-size: 12px;
  font-weight: 700;
  border: 2px solid transparent;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.input_search:hover {
  background-color: #f3f8ff;
}

.button_search {
  /* Add or update styles to match the navigation bar */
  background-color: #3363AF;
  color: white;
  width: 120px;
  height: 37px;
  font-size: 12px;
  font-weight: 700;
  border: 2px solid transparent;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button_search:hover {
  background-color: #7baeff;
}
