/* landing.module.css */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Press Start 2P', cursive; 
  
  

}

.gif {
  margin-bottom: 10px; 
}

.gifImage {
  width: 80%; 
  height: 100%; 
  align-items: center;
  margin-left: 10%;
}

.btn {
  align-items: center;
  background-color: #3363AF;
  color: white;
  width: 120px;
  height: 37px;
  font-size: 12px;
  font-weight: 700;
  border: 2px solid transparent;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #7baeff;
}

.link {
  text-decoration: none; 
  color: white; 
  font-family: 'Press Start 2P', cursive;
}
