
.navbar {
  background-color: #FFCB05; 
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
}
.logo {
  width: 60px;
  height: auto;
  margin-right: 10px;
  transition: transform 0.5s ease-in-out; /* Transición suave en la propiedad de transformación */
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #ffd700; 
}

.button {
  background-color: #3363AF;
  color: white;
  width: 120px;
  height: 37px;
  font-size: 12px;
  font-weight: bold;
  border: 2px solid transparent;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin: 0 auto; 
  font-weight: bold;
}

.button:hover {
  background-color: #7baeff;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 12px; 
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: #ffffff; 
}
