/* navBar.module.css */

.navbar {
  background-color: #e63c25; /* Rojo Pokémon */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.logo {
  width: 60px; /* Ajustar según el tamaño de tu logo */
  height: auto;
  margin-right: 10px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #ffd700; /* Amarillo Pikachu al pasar el mouse */
}

.button {
  background-color: #3363AF;
  color: white;
  width: 120px;
  height: 37px;
  font-size: 12px;
  font-weight: 700;
  border: 2px solid transparent;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #7baeff;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 12px; /* Ajusta el tamaño del texto según sea necesario */
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: #ffffff; /* Amarillo Pikachu al pasar el mouse */
}
